.bannerContainer{
    height: 25px;
    background-color: black;
}

.bannerContainer p {
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;

    color: white;
    text-align: center;
    align-items: center;
    margin: auto;
    
}